# YANGI .env FAYL YARATAMIZ
# QUYIDAGI MA'LUMOTLARNI YOZING:
# ADMINS -  Bu bot ishga tushgani haqida ma'lumot beradi!
ADMINS=12345678,12345677,12345676
# BOT_TOKEN - Telegram botiz va Pythonni bog'lovchi kalit
BOT_TOKEN=123452345243:Asdfasdfasf
# ip - localhost manzili
ip=localhost
